:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Nav */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #221e19;
  color: #E8E1DB;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.head-cont {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
}

.head-cont h1 {
  margin: 0;
  font-size: 28px;
  color: #E8E1DB;
}

.head-cont img {
  width: 60px;
  border-radius: 10px;
}

.carrito-container {
  margin-left: auto;
}

.carrito {
  position: relative;
  font-size: 22px;
  color: #E8E1DB;
  text-decoration: none;
}

.carrito-contador {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: #cbf1de;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}

nav {
  text-align: center;
  background-color: #221e19;
  padding-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 12px;
}

nav a {
  color: #E8E1DB;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background: linear-gradient(45deg, #656765, #cbf1de);
  border-radius: 15px;
  padding: 5px 10px;
}

nav button {
  background: linear-gradient(45deg, #969996, #d5f9ed);
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 16px;
}

nav button:hover {
  background: linear-gradient(45deg, #befbf9, #a7aca7);
  border-radius: 50px;
}

/* Main - Footer*/
main {
  padding-top: 90px;
  padding-bottom: 80px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #221e19;
  color: #E8E1DB;
  font-size: 13px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.redes-sociales img {
  width: 25px;
  height: auto;
}

/* Botones, enlaces */
a {
  text-decoration: none;
  color: #E8E1DB;
  padding: 5px;
}

a:hover {
  background: linear-gradient(45deg, #656765, #cbf1de);
  border-radius: 15px;
  padding: 5px;
}

button {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, #969996, #d5f9ed);
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-self: center;
}

button:hover {
  background: linear-gradient(45deg, #befbf9, #a7aca7);
  border-radius: 50px;
}

/* Contenido */
h2 {
  text-align: center;
  font-size: 33px;
  margin: 35px;
}

p {
  text-align: center;
  font-size: 17px;
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.home h2 {
  font-size: 33px;
  margin: 35px 0;
}

.home p {
  font-size: 17px;
  margin: 20px 0;
}

.home .btn-1 {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, #656765, #cbf1de);
  color: black;
  padding: 5px 15px;
  font-size: 16px;
}

.home .btn-1:hover {
  background: linear-gradient(45deg, #befbf9, #a7aca7);
}

/* Prod */

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
}


.tarjeta-producto {
  background-color: #2f2b26;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  padding: 15px;
  width: 230px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}


.tarjeta-producto img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #3a3630;
}


.tarjeta-producto h3 {
  font-size: 17px;
  color: #E8E1DB;
  margin-bottom: 8px;
  min-height: 45px;
}

.tarjeta-producto .precio {
  color: #cbf1de;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Botón  tarjeta */
.tarjeta-producto button {
  margin-top: 5px;
  background: linear-gradient(45deg, #969996, #d5f9ed);
  border: none;
  border-radius: 10px;
  color: black;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 15px;
}

.tarjeta-producto button:hover {
  background: linear-gradient(45deg, #befbf9, #a7aca7);
  border-radius: 50px;
}

/* Carrito*/

.carrito-contenedor {
  max-width: 900px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.04);
  padding: 32px;
  border-radius: 16px;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  color: #e8e1db;
}

.carrito-contenedor h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #f1f1f1;
  font-weight: 600;
}

.carrito-lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.carrito-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.07);
  padding: 12px 16px;
  border-radius: 12px;
  transition: 0.3s ease all;
}

.carrito-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.carrito-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 8px;
  background: #ffffff10;
  padding: 4px;
}

.carrito-item h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.carrito-item p {
  margin: 4px 0;
  color: #bbb;
}

.carrito-item input {
  width: 60px;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #888;
  background: #222;
  color: #fff;
  text-align: center;
}

.carrito-item button {
  background: linear-gradient(45deg, #ff6b6b, #ff8787);
  border: none;
  border-radius: 10px;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.carrito-item button:hover {
  background: linear-gradient(45deg, #ff4d4d, #ff7676);
}

.carrito-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  font-size: 1.2rem;
  font-weight: bold;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 12px;
}

.comprar-btn {
  background: linear-gradient(45deg, #b0f3f1, #ffd1ff);
  border: none;
  color: #000;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.comprar-btn:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #a0e7e5, #fbc2eb);
}

/* Form*/

form label {
  margin-top: 10px;
  font-weight: 500;
  color: #ddd;
}

form input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #f1f1f1;
}

form input:focus {
  outline: 2px solid #d5f9ed;
  background: rgba(255, 255, 255, 0.15);
}

aside {
  background: rgba(255, 255, 255, 0.05);
  padding: 16px;
  border-radius: 12px;
}

aside h3 {
  margin-bottom: 12px;
  color: #fff;
}

.login-contenedor {
  max-width: 380px;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.login-contenedor h2 {
  margin-bottom: 20px;
}

.login-contenedor form {
  display: flex;
  flex-direction: column;
}

.login-contenedor form input {
  margin-bottom: 14px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-contenedor button {
  padding: 10px;
  border: none;
  background: linear-gradient(45deg, #befbf9, #a7aca7);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
/* Botón hamburguesa */
.menu-hamb {
  display: none;
  background: none;
  border: none;
  color: #E8E1DB;
  font-size: 28px;
  cursor: pointer;
}

/* Pago   */

.pago-contenedor {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.titulo-pago {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #E8E1DB;  
}


.pago-flex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}


.pago-form {
  flex: 1 1 55%;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pago-form h3 {
  color: #E8E1DB;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 700;
}

.pago-form label {
  color: #E8E1DB;
  font-weight: 600;
  font-size: 0.95rem;
}

.pago-form input {
  padding: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  border: 1px solid #656765;
  color: #E8E1DB;
  transition: 0.2s;
}

.pago-form input:focus {
  background: rgba(255,255,255,0.15);
  outline: 2px solid #cbf1de;
}


.btn-comprar {
  background: linear-gradient(45deg, #969996, #d5f9ed); 
  color: black;
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-comprar:hover {
  background: linear-gradient(45deg, #befbf9, #a7aca7);
  transform: scale(1.03);
}

.btn-comprar:disabled {
  background: #777;
  cursor: not-allowed;
  transform: none;
}

.pago-resumen {
  flex: 1 1 40%;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  color: #E8E1DB;
}

.pago-resumen h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.pago-item {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.pago-total {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}




@media (max-width: 768px) {

  
  .head-cont {
    gap: 10px;
    padding: 10px;
  }

  .head-cont img {
    width: 45px;
  }

  .head-cont h1 {
    font-size: 22px;
  }

  .carrito-container {
    margin-right: 10px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }


  main {
    padding-top: 120px; 
    padding-bottom: 100px;
  }


  .home h2 {
    font-size: 26px;
    margin: 20px 0;
  }

  .home p {
    font-size: 15px;
    padding: 0 10px;
  }


  .contenedor {
    gap: 18px;
    padding: 10px;
  }

  .tarjeta-producto {
    width: 170px;
    padding: 12px;
  }

  .tarjeta-producto img {
    width: 130px;
    height: 130px;
  }

  .tarjeta-producto h3 {
    min-height: 35px;
    font-size: 15px;
  }

  .tarjeta-producto .precio {
    font-size: 16px;
  }


  .carrito-contenedor {
    padding: 20px;
    margin: 20px;
  }

  .carrito-item {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .carrito-item img {
    width: 70px;
    height: 70px;
  }

  .carrito-item input {
    width: 50px;
  }

  .carrito-total {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .comprar-btn {
    width: 100%;
  }


  .login-contenedor {
    width: 90%;
    margin-top: 120px;
    padding: 20px;
  }

 
  footer {
    font-size: 12px;
    padding: 6px 0;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background-color: #221e19;
    padding: 15px;
    text-align: center;
  }

  nav.nav-open ul {
    display: flex;
  }

  .menu-hamb {
    display: block;
    margin-left: auto;
  }

  .pago-flex {
    flex-direction: column;
  }

  .pago-form,
  .pago-resumen {
    width: 100%;
  }

  .pago-form, 
  .pago-resumen {
    padding: 18px;
  }

  .titulo-pago {
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  .titulo-pago {
    font-size: 1.5rem;
  }

  .pago-form, 
  .pago-resumen {
    padding: 15px;
  }

  .pago-item {
    font-size: 0.85rem;
  }

  .pago-total {
    font-size: 1rem;
  }

  .tarjeta-producto {
    width: 150px;
  }

  .tarjeta-producto img {
    width: 110px;
    height: 110px;
  }

  .head-cont h1 {
    font-size: 18px;
  }

  .menu-hamb {
    font-size: 24px;
  }

  .carrito {
    font-size: 20px;
  }



/*--------------------------------------*/

.pagina-contenedor {
  padding: 20px;
}

.titulo-pagina {
  margin-bottom: 20px;
  text-align: center;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
}

.tabla th,
.tabla td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tabla th {
  background: #eee;
}

.fila-acciones {
  display: flex;
  gap: 15px;
  align-items: center;
}

.enlace-accion {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.boton-rojo {
  background: #d9534f !important;
  color: white;
}

/*crearprod*/
.form-contenedor {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.form-titulo {
  text-align: center;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-label {
  font-weight: bold;
}

.form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.boton {
  padding: 10px;
  font-weight: bold;
  border: none;
  background: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}


/* admin prod*/
.pagina-contenedor {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}


.titulo-pagina {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.texto-centrado {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}


.boton {
  color: white;
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  margin: 5px;
}


}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla th,
.tabla td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.tabla th {
  background-color: #f3f3f3;
  font-weight: bold;
}

.fila-acciones {
  display: flex;
  gap: 12px;
  align-items: center;
}

.enlace-accion {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.enlace-accion:hover {
  text-decoration: underline;
}


.pagina-contenedor {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #252525;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.titulo-pagina {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #faf5f5;
}


.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.tabla th, .tabla td {
  padding: 0.75rem 1rem;
  border: 1px solid ;
  text-align: left;
}

.tabla th {
  background-color: #333232;
  font-weight: bold;
}

.tabla tbody tr:nth-child(even) {
  background-color: #222121;
}

.fila-acciones {
  display: flex;
  gap: 0.5rem;
}

/* Botones */
.boton {
  padding: 0.5rem 1rem;
  background-color: #313233;
  color: #0f0f0f;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}



.enlace-accion {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #2d87f0;
  text-decoration: none;
  font-weight: 500;
}

.enlace-accion:hover {
  text-decoration: underline;
}


.form-contenedor, .login-contenedor {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #2c2b2b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-titulo {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.form-input:focus {
  outline: none;
  border-color: #2d87f0;
  box-shadow: 0 0 0 2px rgba(45,135,240,0.2);
}

.texto-centrado {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}





